@media (max-width:1440px) {

    [class*='__container']{
        margin: 0 auto;
        padding: 200px 80px 0;
    }

    /*Header*/

    .header__container {
        padding: 36px 80px 0;
    }

    /*Main*/
    
    .main__container {
        column-gap: 48px;
    }

    /*About Us*/
    
    .aboutus__container {
        column-gap: 40px;
    }

    /*How It Works*/
    
    .howitworks__container {
        column-gap: 105px;
    }

    /*Pricing*/
    
    .pricing__content {
        column-gap: 70px;
    }
   
    .pricing__cards {
        column-gap: 16px;
        grid-template-columns: repeat(3, 416px);
    }
    
    .card__btn {
        width: 336px;
    }

    /*FAQs*/
   
    .faqs__container {
        column-gap: 20px;
        padding-bottom: 200px;
    }

    /*Footer*/

    .footer__container {
        padding: 40px 80px 54px;
    }

    .footer__top{
        gap: 670px; 
    }

    .footer__top:not(:last-child){
        margin-right: 80px;
    }

    .footer__range{
        grid-template-columns: repeat(2, auto);
        column-gap: 80px;
    }
}

@media (max-width:1024px) {
    [class*='__container']{
        margin: 0 auto;
        padding: 100px 32px 0;
    }

    /*Header*/

    .header__container{
        padding-top: 36px;
    }

    /*Main*/

    .main__container{
        column-gap: 40px;
    }

    .main__title{
        margin-bottom: 20px;
    }

    .main__text{
        margin-bottom: 40px;
    }

    /*About Us*/

    .aboutus__container{
        column-gap: 0;
    }

    .aboutus__title:not(:last-child){
        margin-bottom: 56px;
    }

    .aboutus__image{
        left: -30px;
    }

    .aboutus__image img{
        max-width: 500px;
        height: 430px;
    }

    /*How It Works*/

    .howitworks__container{
        column-gap: 0;
    }

    .howitworks__title:not(:last-child){
        margin-bottom: 115px;
    }

    .howitworks__image{
        right: -33px;
    }

    .howitworks__image img{
        max-width: 420px;
        height: 600px;
    }

    /*Pricicng*/

    .pricing__container{
        row-gap: 44px;
    }

    .pricing__content{
        column-gap: 0;
    }

    .pricing__title:not(:last-child){
        margin-bottom: 56px;
    }

    .pricing__image img{
        max-width: 380px;
        height: 400px;
    }

    .pricing__cards{
        column-gap: 24px;
        grid-template-columns: repeat(3, 305px);
    }

    .card__btn{
       width: 224px;
    }

    /*FAQs*/

    .faqs__container{
        padding-bottom: 100px;
        gap: 0;
    }

    .faqs__text:not(:last-child) {
        margin-bottom: 80px;
    }

    .faqs__image img{
        max-width: 390px;
        height: 400px;
    }

    /*Footer*/

    .footer__container{
        padding: 40px 32px 54px;
    }

    .footer__top{
        gap: 440px;
    }

    .footer__range{
        grid-template-columns: repeat(2, 185px);
        position: relative;
        left: -200px;
        column-gap: 70px;
    }

    .nav-list{
        position: relative;
        top: 110px;
    }

    .footer__inpt{
        margin-top: 0;
    }

}

@media (max-width:360px) {
    [class*='__container']{
        padding: 100px 20px 0px;
    }

    .title{
        font-size: 28px;
    }

    /*Header*/

    .header__container{
        padding-top: 20px;
        margin: 0;
    }

    .navigation__list{
        display: none;
    }

    .navigation__actions{
        display: none;
    }

    .header__menu{ 
        display: flex;   
    }

    /*Main*/

    .main__container{
        flex-direction: column;
        padding-top: 20px;
        gap: 40px;
    }

    .main__title{
        font-size: 28px;
        margin-bottom: 35px;
    }

    .main__text:not(:last-child){
        margin-bottom: 30px;
    }

    .main__form{
        max-width: 100%;
        margin-bottom: 40px;
    }

    .main__image img{
        width: 330px;
        height: 348px;
    }

    /*About Us*/

    .aboutus__container{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .aboutus__title:not(:last-child){
        margin-bottom: 35px;
    }

    .aboutus__text:not(:last-child){
        margin-bottom: 40px;
    }

    .aboutus__list{
        gap: 20px;
    }

    .aboutus__image img{
        max-width: 370px;
        height: 320px;
    }

    /*How It Works*/

    .howitworks__container{
        flex-direction: column;
        gap: 20px;
    }

    .howitworks__title:not(:last-child){
        margin-bottom: 50px;
    }

    .list__item{
        align-items: self-start;
        gap: 16px;
    }

    .item__title{
        font-size: 20px;
    }

    .item__info{
        gap: 10px;
    }

    .list__item img {
        width: 68px;
        height: 68px;
    }

    .howitworks__image img{
        max-width: 280px;
        height: 400px;
    }

    /*Pricing*/

    .pricing__container{
        row-gap: 20px;
    }

    .pricing__sec{
        margin-left: 0;
    }

    .pricing__content{
        flex-direction: column-reverse;
    }

    .pricing__title{
        text-align: left;
    }

    .pricing__title:not(:last-child){
        margin-bottom: 35px;
    }

    .pricing__text{
        text-align: left;
    }

    .pricing__image{
        margin-top: 40px;
    }

    .pricing__image img {
        max-width: 280px;
        height: 300px;
    }

    .pricing__cards{
        grid-template-columns: repeat(1, auto);
        gap: 20px;
    }

    .pricing__card{
        width: 320px;
    }

    /*FAQs*/

    .faqs__container{
        flex-direction: column;
        padding-bottom: 100px;
    }

    .faqs__title:not(:last-child){
        margin-bottom: 25px;
    }

    .faqs__text:not(:last-child) {
        margin-bottom: 40px;
    }

    .faqs__drop{
        row-gap: 10px;
    }

    .faqs__drop:last-child{
        padding-bottom: 0;
    }

    .faqs__image{
        right: 30px;
        margin-top: 40px;
    }

    .faqs__image img{
        max-width: 360px;
        height: 370px;
    }

    /*Footer*/

    .footer__container{
        padding-top: 40px;
        padding-bottom: 52px;
        gap: 40px;
    }

    .footer__head{
        flex-direction: column;
    }

    .footer__top{
        gap: 150px;
    }

    .footer__email{
        text-align: end;
    }

    .footer__media{
        gap: 10px;
        margin-bottom: 40px;
        margin-left: -12px;
    }

    .footer__range{
        position: unset;
        grid-template-columns: repeat(1, auto);
        justify-content: flex-start;
        gap: 40px;
    }

    .nav-list{
        position: unset;
    }

    .footer__inpt{
        gap: 20px;
        margin: 0 0 40px;
    }

    .footer__form {
        max-width: 100%;
    }
 
}
