*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 320px;
    font-family: Josefin Slab;
    background: var(---color-F0);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

[class*='__container']{
    max-width: 2560px;
    margin: 0 auto;
    padding: 0px 524px 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button, input{
    cursor: pointer;
    font-family: Josefin Slab;
    font-size: 18px;
    font-weight: 400;
}

:root{
    ---color-15: #151515;
    ---color-F0: #F0F0F0;
    ---color-white: #fff;
}

.sec{
    display: flex;
    border: 1px solid var(---color-15);
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.title{
    font-size: 60px;
    color: var(---color-15);
    font-weight: bold;
}



/* Header Styles */

.header__container{
    display: flex;
    padding: 36px 140px 0;
}

.header__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list{
    display: flex;
    column-gap: 40px;
    margin-left: 40px;
}

.navigation__actions {
    display: flex;
    gap: 20px;
}

.navigation__actions__btn {
    display: flex;
    width: 145px;
    height: 52px;
    justify-content: center;
    align-items: center;
}

.btn-login {
    border: 1px solid var(---color-15);
    background: var(---color-F0);
}

.btn-signup {
    background: var(---color-15);
    color: var(---color-F0);
}

.header__menu{
    display: none;
}


/* Main Styles */

.main__container {
    display: flex;
    padding-top: 80px;
    align-items: center;
    gap: 240px;
}

.main__content{
    max-width: 100%;
}

.main__title {
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.main__text {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 565px;
}

.main__form {
    display: flex;
    width: 478px;
    height: 52px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main__form__input {
    width: 280px;
    height: 52px;
    background: var(---color-white);
    border: 1px solid var(---color-15);
    padding-left: 20px;
}

.main__form__button {
    width: 198px;
    height: 52px;
    background: var(---color-15);
    color: var(---color-white);
}

.main__payment{
    display: flex;
    gap: 32px;
    max-width: 330px;
}

.main__image{
    position: relative;
    max-width: 100%;
    height: auto;
}

.main__image img{
    max-width: 550px; 
    height: 580px;
}


/* AboutUs Styles*/

.aboutus__container {
    display: flex;
    padding-top: 200px;
    gap: 190px;
}

.aboutus__content{
    max-width: 100%;
}

.aboutus__image {
    position: relative;
    max-width: 100%;
    height: auto;
}

.aboutus__image img{
    max-width: 580px; 
    height: 500px;
}
.aboutus__sec {
    width: 108px;
    height: 36px;
}

.aboutus__title:not(:last-child){
    margin-bottom: 44px;
}

.aboutus__text {
    color: var(---color-15);
    font-size: 18px;
}

.aboutus__text:not(:last-child){
    margin-bottom: 35px;
}

.aboutus__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 20px;
}

.aboutus__item {
    list-style: square;
    font-size: 20px;
}

/* How It Works Style */

.howitworks__container {
    display: flex;
    padding-top: 200px;
    gap: 350px;
}

.howitworks__content{
    max-width: 100%;
}

.howitworks__sec {
    width: 155px;
    height: 36px;
}

.howitworks__title:not(:last-child){
    margin-bottom: 104px;
}

.howitworks__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 500px;
}

.howitworks__item {
    display: flex;
    align-items: center;
    gap: 28px
}

.howitworks__item img{
    max-width: 100px;
    height: 100px;
}

.item__info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item__title{
    color:var(---color-15);
    font-size: 28px;
    font-weight: bold;
}

.item__text {
    color: var(---color-15);
    font-size: 18px;
}

.howitworks__image{
    position: relative;
    max-width: 100%;
    height: auto;
}

.howitworks__image img{
    max-width: 500px;
    height: 700px;
}

/* Pricing Style */

.pricing__container {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    row-gap: 60px;
    align-items: center;
}

.pricing__content{
    display: flex;
    align-items: center;
    column-gap: 300px;
    max-width: 100%;
}

.pricing__image{
    position: relative;
    max-width: 100%;
    height: auto;
}

.pricing__image img{
    max-width: 470px;
    height: 500px;
}

.pricing__sec{
    width: 103px;
    height: 36px;
    margin-left: auto;
}

.pricing__title{
    text-align: right;
}

.pricing__title:not(:last-child){
    margin-bottom: 44px;
}

.pricing__text{
    color: var(---color-15);
    text-align: right;
    font-size: 18px;
}

.pricing__cards {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 436px);
}

.pricing__card {
    display: flex;
    flex-direction: column;

    max-width: 436px;
    height: 644px;
    border: 1px solid var(---color-15);
    background: var(---color-white);

    align-items: center;
    padding-top: 52px;
    padding-bottom: 48px;
    justify-content: space-between;
}

.second-card{
    background: var(---color-15);
    color: var(---color-F0);
}

.card__title {
    display: flex;
    font-size: 20px;
}

.card__title span {
    font-size: 80px;
    font-weight: bold;
}

.card__title sup {
    font-size: 20px; 
    vertical-align: super;
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__text{
    font-size: 18px;
}

.card__text:not(:last-child) {
    margin-bottom: 61px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.card__item {
    list-style: square;
    font-size: 18px;
}

.card__btn {
    display: flex;
    width: 356px;
    height: 52px;
    justify-content: center;
    align-items: center;
    color: var(---color-white);
    background: var(---color-15);
    font-weight: bold;
    letter-spacing: 1.5px;
}

.second-card .card__btn{
    background: var(---color-white);
    color: var(---color-15);
}

/* FAQs Style */

.faqs__container {
    display: flex;
    gap: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.faqs__content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.faqs__sec {
    width: 76px;
    height: 36px;
}

.faqs__title {
    margin-bottom: 32px;
}

.faqs__text {
    font-size: 18px;
}

.faqs__text:not(:last-child){
    margin-bottom: 60px;
}

.faqs__drop {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 1px solid var(---color-15);
    padding: 20px 0;
}

.faqs__drop:last-child{
    border-bottom: none;
} 

.drop__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop__title {
    font-size: 20px;
    font-weight: bold;
}

.drop__text{
    font-size: 18px;
}

.faqs__image {
    position: relative;
    max-width: 100%;
    height: auto;
}

.faqs__image img{
    max-width: 480px;
    height: 500px;
}

/* Footer */

.footer{
    background: var(---color-15);
    max-width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    color: var(---color-white);
    padding: 40px 140px 54px;
}

.footer__head{
    display: flex;
    justify-content: space-between;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__top{
    display: flex;
    align-items: center;
    gap: 1590px;
}

.footer__top:not(:last-child){
    margin-right: 120px;
}

.footer__email{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.email__title{
    font-size: 20px;
    font-weight: bold;
}

.footer__media {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 20px;
}

.footer__range{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-end;
    column-gap: 125px;
    font-size: 18px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__list a{
    color: var(---color-white);
}

.footer__info{
    display: flex;
    flex-direction: column;
}

.footer__inpt{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 0 80px;
}

.footer__title{
    font-size: 20px;
    font-weight: bold;
}

.footer__form {
    display: flex;
    max-width: 478px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(---color-white);
}

.footer__input {
    width: 280px;
    height: 52px;
    background: var(---color-15);
    border: 1px solid var(---color-white);
    padding-left: 20px;
}

.footer__button {
    width: 198px;
    height: 52px;
    background: var(---color-white);
    color: var(---color-15);
}

.footer__text{
    font-size: 18px;
}







